.bof-box {
  .screen {
    background: url(../images/_bof/bof-preview.png) no-repeat;
  
    .text-box {
      padding-top: 151px;
      padding-left: 24px;
    }
  }
}

.bof-main-font {
  min-height: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 8px;
  background-image: url(../images/_bof/bof_font_preview_ita.png);

  &.char-65  { background-position:    0px 0; } /* A */
  &.char-66  { background-position:   -8px 0; } /* B */
  &.char-67  { background-position:  -16px 0; } /* C */
  &.char-68  { background-position:  -24px 0; } /* D */
  &.char-69  { background-position:  -32px 0; } /* E */
  &.char-70  { background-position:  -40px 0; } /* F */
  &.char-71  { background-position:  -48px 0; } /* G */
  &.char-72  { background-position:  -56px 0; } /* H */
  &.char-73  { background-position:  -64px 0; } /* I */
  &.char-74  { background-position:  -72px 0; } /* J */
  &.char-75  { background-position:  -80px 0; } /* K */
  &.char-76  { background-position:  -88px 0; } /* L */
  &.char-77  { background-position:  -96px 0; } /* M */
  &.char-78  { background-position: -104px 0; } /* N */
  &.char-79  { background-position: -112px 0; } /* O */
  &.char-80  { background-position: -120px 0; } /* P */
  &.char-81  { background-position: -128px 0; } /* Q */
  &.char-82  { background-position: -136px 0; } /* R */
  &.char-83  { background-position: -144px 0; } /* S */
  &.char-84  { background-position: -152px 0; } /* T */
  &.char-85  { background-position: -160px 0; } /* U */
  &.char-86  { background-position: -168px 0; } /* V */
  &.char-87  { background-position: -176px 0; } /* W */
  &.char-88  { background-position: -184px 0; } /* X */
  &.char-89  { background-position: -192px 0; } /* Y */
  &.char-90  { background-position: -200px 0; } /* Z */
  &.char-97  { background-position: -208px 0; } /* a */
  &.char-98  { background-position: -216px 0; } /* b */
  &.char-99  { background-position: -224px 0; } /* c */
  &.char-100 { background-position: -232px 0; } /* d */
  &.char-101 { background-position: -240px 0; } /* e */
  &.char-102 { background-position: -248px 0; } /* f */
  &.char-103 { background-position: -256px 0; } /* g */
  &.char-104 { background-position: -264px 0; } /* h */
  &.char-105 { background-position: -272px 0; } /* i */
  &.char-106 { background-position: -280px 0; } /* j */
  &.char-107 { background-position: -288px 0; } /* k */
  &.char-108 { background-position: -296px 0; } /* l */
  &.char-109 { background-position: -304px 0; } /* m */
  &.char-110 { background-position: -312px 0; } /* n */
  &.char-111 { background-position: -320px 0; } /* o */
  &.char-112 { background-position: -328px 0; } /* p */
  &.char-113 { background-position: -336px 0; } /* q */
  &.char-114 { background-position: -344px 0; } /* r */
  &.char-115 { background-position: -352px 0; } /* s */
  &.char-116 { background-position: -360px 0; } /* t */
  &.char-117 { background-position: -368px 0; } /* u */
  &.char-118 { background-position: -376px 0; } /* v */
  &.char-119 { background-position: -384px 0; } /* w */
  &.char-120 { background-position: -392px 0; } /* x */
  &.char-121 { background-position: -400px 0; } /* y */
  &.char-122 { background-position: -408px 0; } /* z */
  &.char-48  { background-position: -416px 0; } /* 0 */
  &.char-49  { background-position: -424px 0; } /* 1 */
  &.char-50  { background-position: -432px 0; } /* 2 */
  &.char-51  { background-position: -440px 0; } /* 3 */
  &.char-52  { background-position: -448px 0; } /* 4 */
  &.char-53  { background-position: -456px 0; } /* 5 */
  &.char-54  { background-position: -464px 0; } /* 6 */
  &.char-55  { background-position: -472px 0; } /* 7 */
  &.char-56  { background-position: -480px 0; } /* 8 */
  &.char-57  { background-position: -488px 0; } /* 9 */
  &.char-44  { background-position: -496px 0; } /* , */
  &.char-45  { background-position: -504px 0; } /* . */
  &.char-33  { background-position: -512px 0; } /* ! */
  &.char-63  { background-position: -520px 0; } /* ? */
  &.char-39  { background-position: -528px 0; } /* ' */
  &.char-58  { background-position: -536px 0; } /* : */
  &.char-32  { background-position: -544px 0; } /*   */
  // &.char- { background-position: -552px 0; }
  // &.char- { background-position: -560px 0; }
  // &.char- { background-position: -568px 0; }
  // &.char- { background-position: -576px 0; }
  &.char-224 { background-position: -584px 0; } /* à */
  &.char-232 { background-position: -592px 0; } /* è */
  &.char-233 { background-position: -600px 0; } /* é */
  &.char-236 { background-position: -608px 0; } /* ì */
  &.char-242 { background-position: -616px 0; } /* ò */
  &.char-249 { background-position: -624px 0; } /* ù */
  &.char-200 { background-position: -632px 0; } /* È */
}
