.brainlord-box {
  .screen {
    height: 96px !important;
    background: url(../images/_brainlord/bl-background-dialog-box.png) no-repeat;

    .text-box {
      padding-left: 24px;
      padding-top: 16px;
    }
  }
}

.brainlord-main-font {
  min-height: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 8px;
  background-image: url(../images/_brainlord/bl-font-text.png);
  // background-image: url(../images/_brainlord/bl-font-text-mog.png);

  &.char-48   { background-position: -0px   -0px;  } /* 0 */
  &.char-49   { background-position: -16px  -0px;  } /* 1 */
  &.char-50   { background-position: -32px  -0px;  } /* 2 */
  &.char-51   { background-position: -48px  -0px;  } /* 3 */
  &.char-52   { background-position: -64px  -0px;  } /* 4 */
  &.char-53   { background-position: -80px  -0px;  } /* 5 */
  &.char-54   { background-position: -96px  -0px;  } /* 6 */
  &.char-55   { background-position: -112px -0px;  } /* 7 */

  &.char-56   { background-position: -0px   -16px; } /* 8 */
  &.char-57   { background-position: -16px  -16px; } /* 9 */
  &.char-32   { background-position: -80px  -16px; } /*   */

  &.char-41   { background-position: -0px   -32px; } /* ) */
  &.char-46   { background-position: -112px -32px; } /* . */

  &.char-9655 { background-position: -0px   -48px; } /* ▷ */
  &.char-47   { background-position: -16px  -48px; } /* / */
  /**/
  /**/
  &.char-9650 { background-position: -64px  -48px; } /* ▲ */

  &.char-65   { background-position: -0px   -64px; } /* A */
  &.char-66   { background-position: -16px  -64px; } /* B */
  &.char-67   { background-position: -32px  -64px; } /* C */
  &.char-68   { background-position: -48px  -64px; } /* D */
  &.char-69   { background-position: -64px  -64px; } /* E */
  &.char-70   { background-position: -80px  -64px; } /* F */
  &.char-71   { background-position: -96px  -64px; } /* G */
  &.char-72   { background-position: -112px -64px; } /* H */

  &.char-73   { background-position: -0px   -80px; } /* I */
  &.char-74   { background-position: -16px  -80px; } /* J */
  &.char-75   { background-position: -32px  -80px; } /* K */
  &.char-76   { background-position: -48px  -80px; } /* L */
  &.char-77   { background-position: -64px  -80px; } /* M */
  &.char-78   { background-position: -80px  -80px; } /* N */
  &.char-79   { background-position: -96px  -80px; } /* O */
  &.char-80   { background-position: -112px -80px; } /* P */

  &.char-81   { background-position: -0px   -96px; } /* Q */
  &.char-82   { background-position: -16px  -96px; } /* R */
  &.char-83   { background-position: -32px  -96px; } /* S */
  &.char-84   { background-position: -48px  -96px; } /* T */
  &.char-85   { background-position: -64px  -96px; } /* U */
  &.char-86   { background-position: -80px  -96px; } /* V */
  &.char-87   { background-position: -96px  -96px; } /* W */
  &.char-88   { background-position: -112px -96px; } /* X */

  &.char-89   { background-position: -0px   -112px; } /* Y */
  &.char-90   { background-position: -16px  -112px; } /* Z */
  &.char-97   { background-position: -32px  -112px; } /* a */
  &.char-98   { background-position: -48px  -112px; } /* b */
  &.char-99   { background-position: -64px  -112px; } /* c */
  &.char-100  { background-position: -80px  -112px; } /* d */
  &.char-101  { background-position: -96px  -112px; } /* e */
  &.char-102  { background-position: -112px -112px; } /* f */

  &.char-103  { background-position: -0px   -128px; } /* g */
  &.char-104  { background-position: -16px  -128px; } /* h */
  &.char-105  { background-position: -32px  -128px; } /* i */
  &.char-106  { background-position: -48px  -128px; } /* j */
  &.char-107  { background-position: -64px  -128px; } /* k */
  &.char-108  { background-position: -80px  -128px; } /* l */
  &.char-109  { background-position: -96px  -128px; } /* m */
  &.char-110  { background-position: -112px -128px; } /* n */

  &.char-111  { background-position: -0px   -144px; } /* o */
  &.char-112  { background-position: -16px  -144px; } /* p */
  &.char-113  { background-position: -32px  -144px; } /* q */
  &.char-114  { background-position: -48px  -144px; } /* r */
  &.char-115  { background-position: -64px  -144px; } /* s */
  &.char-116  { background-position: -80px  -144px; } /* t */
  &.char-117  { background-position: -96px  -144px; } /* u */
  &.char-118  { background-position: -112px -144px; } /* v */

  &.char-119  { background-position: -0px   -160px; } /* w */
  &.char-120  { background-position: -16px  -160px; } /* x */
  &.char-121  { background-position: -32px  -160px; } /* y */
  &.char-122  { background-position: -48px  -160px; } /* z */
  /**/
  /**/
  &.char-63   { background-position: -96px  -160px; } /* ? */

  /**/
  /**/
  &.char-58   { background-position: -32px  -176px; } /* : */
  &.char-59   { background-position: -48px  -176px; } /* ; */
  /**/
  /**/
  /**/
  /**/

  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  &.char-39   { background-position: -96px  -192px; } /* ' */
  &.char-34   { background-position: -112px -192px; } /* " */

  &.char-45   { background-position: -0px   -208px; } /* - */
  &.char-44   { background-position: -16px  -208px; } /* , */
  &.char-183  { background-position: -32px  -208px; } /* · */

  &.char-33   { background-position: -80px  -256px; } /* ! */

  &.char-9834 { background-position: -80px  -400px; } /* ♪ */

  &.italian {
    background-image: url(../images/_brainlord/bl-font-text-ita.png);

    &.char-224  { background-position: -80px  -176px; } /* à */
    &.char-232  { background-position: -96px  -176px; } /* è */
    &.char-233  { background-position: -112px -176px; } /* é */
    &.char-236  { background-position: -0px   -192px; } /* ì */
    &.char-242  { background-position: -16px  -192px; } /* ò */
    &.char-249  { background-position: -32px  -192px; } /* ù */
    &.char-200  { background-position: -48px  -192px; } /* È */
    &.char-176  { background-position: -64px  -192px; } /* ° */
  }
}
