.brandishdr-box {
  .screen {
    background: url(../images/_brandishdr/window.png) no-repeat;
    background-color: black;

    .text-box {
      padding-left: 8px;
      padding-top: 7px;

      .text-line {
        line-height: 16px !important;
      }
    }
  }
}

.brandishdr-main-font {
  min-height: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 16px;
  background-image: url(../images/_brandishdr/pspfont.png);

  &.char-64   { background-position:  -16px    -0px; } /* @ */
  &.char-65   { background-position:  -16px   -16px; } /* A */
  &.char-66   { background-position:  -16px   -32px; } /* B */
  &.char-67   { background-position:  -16px   -48px; } /* C */
  &.char-68   { background-position:  -16px   -64px; } /* D */
  &.char-69   { background-position:  -16px   -80px; } /* E */
  &.char-70   { background-position:  -16px   -96px; } /* F */
  &.char-71   { background-position:  -16px  -112px; } /* G */
  &.char-72   { background-position:  -16px  -128px; } /* H */
  &.char-73   { background-position:  -16px  -144px; } /* I */
  &.char-74   { background-position:  -16px  -160px; } /* J */
  &.char-75   { background-position:  -16px  -176px; } /* K */
  &.char-76   { background-position:  -16px  -192px; } /* L */
  &.char-77   { background-position:  -16px  -208px; } /* M */
  &.char-78   { background-position:  -16px  -224px; } /* N */
  &.char-79   { background-position:  -16px  -240px; } /* O */
  &.char-80   { background-position:  -16px  -256px; } /* P */
  &.char-81   { background-position:  -16px  -272px; } /* Q */
  &.char-82   { background-position:  -16px  -288px; } /* R */
  &.char-83   { background-position:  -16px  -304px; } /* S */
  &.char-84   { background-position:  -16px  -320px; } /* T */
  &.char-85   { background-position:  -16px  -336px; } /* U */
  &.char-86   { background-position:  -16px  -352px; } /* V */
  &.char-87   { background-position:  -16px  -368px; } /* W */
  &.char-88   { background-position:  -16px  -384px; } /* X */
  &.char-89   { background-position:  -16px  -400px; } /* Y */
  &.char-90   { background-position:  -16px  -416px; } /* Z */
  &.char-91   { background-position:  -16px  -432px; } /* [ */
  &.char-165  { background-position:  -16px  -448px; } /* ¥ */
  &.char-93   { background-position:  -16px  -464px; } /* ] */
  &.char-94   { background-position:  -16px  -480px; } /* ^ */
  &.char-95   { background-position:  -16px  -496px; } /* _ */
  &.char-96   { background-position:  -16px  -512px; } /* ` */
  &.char-97   { background-position:  -16px  -528px; } /* a */
  &.char-98   { background-position:  -16px  -544px; } /* b */
  &.char-99   { background-position:  -16px  -560px; } /* c */
  &.char-100  { background-position:  -16px  -576px; } /* d */
  &.char-101  { background-position:  -16px  -592px; } /* e */
  &.char-102  { background-position:  -16px  -608px; } /* f */
  &.char-103  { background-position:  -16px  -624px; } /* g */
  &.char-104  { background-position:  -16px  -640px; } /* h */
  &.char-105  { background-position:  -16px  -656px; } /* i */
  &.char-106  { background-position:  -16px  -672px; } /* j */
  &.char-107  { background-position:  -16px  -688px; } /* k */
  &.char-108  { background-position:  -16px  -704px; } /* l */
  &.char-109  { background-position:  -16px  -720px; } /* m */
  &.char-110  { background-position:  -16px  -736px; } /* n */
  &.char-111  { background-position:  -16px  -752px; } /* o */
  &.char-112  { background-position:  -16px  -768px; } /* p */
  &.char-113  { background-position:  -16px  -784px; } /* q */
  &.char-114  { background-position:  -16px  -800px; } /* r */
  &.char-115  { background-position:  -16px  -816px; } /* s */
  &.char-116  { background-position:  -16px  -832px; } /* t */
  &.char-117  { background-position:  -16px  -848px; } /* u */
  &.char-118  { background-position:  -16px  -864px; } /* v */
  &.char-119  { background-position:  -16px  -880px; } /* w */
  &.char-120  { background-position:  -16px  -896px; } /* x */
  &.char-121  { background-position:  -16px  -912px; } /* y */
  &.char-122  { background-position:  -16px  -928px; } /* z */
  &.char-123  { background-position:  -16px  -944px; } /* { */
  &.char-124  { background-position:  -16px  -960px; } /* | */
  &.char-125  { background-position:  -16px  -976px; } /* } */
}
