.smrpg-box {
  .screen {
    background: url(../images/_smrpg/bg1.png) no-repeat;
  
    .text-box {
      padding-left: 17px;
      padding-top: 18px;

      .text-line {
        .newline_newpage_arrow {
          width: 15px;
          height: 8px;
          background: url(../images/_smrpg/newline_newpage_arrow.png) no-repeat;
          position: absolute;
          top: 56px;
          right: 17px;
        }
      }
    }
  }
}

.smrpg-main-font {
  min-height: 12px;
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 4px;
  background-image: url(../images/_smrpg/fontTableDialogue3.png);

  &.char-32   { width: 4px; background-position: -0px     -0px; } /*   */
  &.char-33   { width: 6px; background-position: -16px    -0px; } /* ! */
  &.char-8220 { width: 6px; background-position: -32px    -0px; } /* “ */
  &.char-8221 { width: 6px; background-position: -48px    -0px; } /* ” */
  &.char-9829 { width: 8px; background-position: -64px    -0px; } /* ♥ */
  &.char-9834 { width: 8px; background-position: -80px    -0px; } /* ♪ */

  &.char-40   { width: 5px; background-position: -0px    -12px; } /* ( */
  &.char-41   { width: 5px; background-position: -16px   -12px; } /* ) */
  &.char-183  { width: 6px; background-position: -32px   -12px; } /* · */
  &.char-8229 { width: 8px; background-position: -48px   -12px; } /* ‥ */
  &.char-44   { width: 5px; background-position: -64px   -12px; } /* , */
  &.char-45   { width: 5px; background-position: -80px   -12px; } /* - */
  &.char-46   { width: 5px; background-position: -96px   -12px; } /* . */
  &.char-47   { width: 6px; background-position: -112px  -12px; } /* / */

  &.char-48  { width: 7px; background-position: -0px     -24px; } /* 0 */
  &.char-49  { width: 5px; background-position: -16px    -24px; } /* 1 */
  &.char-50  { width: 7px; background-position: -32px    -24px; } /* 2 */
  &.char-51  { width: 7px; background-position: -48px    -24px; } /* 3 */
  &.char-52  { width: 7px; background-position: -64px    -24px; } /* 4 */
  &.char-53  { width: 7px; background-position: -80px    -24px; } /* 5 */
  &.char-54  { width: 7px; background-position: -96px    -24px; } /* 6 */
  &.char-55  { width: 7px; background-position: -112px   -24px; } /* 7 */

  &.char-56  { width: 7px; background-position: -0px     -36px; } /* 8 */
  &.char-57  { width: 7px; background-position: -16px    -36px; } /* 9 */
  &.char-126 { width: 8px; background-position: -32px    -36px; } /* ~ */
  &.char-63  { width: 8px; background-position: -112px   -36px; } /* ? */

  &.char-169 { width: 8px; background-position: -0px     -48px; } /* © */
  &.char-65  { width: 8px; background-position: -16px    -48px; } /* A */
  &.char-66  { width: 7px; background-position: -32px    -48px; } /* B */
  &.char-67  { width: 7px; background-position: -48px    -48px; } /* C */
  &.char-68  { width: 6px; background-position: -64px    -48px; } /* D */
  &.char-69  { width: 7px; background-position: -80px    -48px; } /* E */
  &.char-70  { width: 6px; background-position: -96px    -48px; } /* F */
  &.char-71  { width: 7px; background-position: -112px   -48px; } /* G */

  &.char-72  { width: 7px; background-position: -0px     -60px; } /* H */
  &.char-73  { width: 3px; background-position: -16px    -60px; } /* I */
  &.char-74  { width: 6px; background-position: -32px    -60px; } /* J */
  &.char-75  { width: 7px; background-position: -48px    -60px; } /* K */
  &.char-76  { width: 5px; background-position: -64px    -60px; } /* L */
  &.char-77  { width: 9px; background-position: -80px    -60px; } /* M */
  &.char-78  { width: 6px; background-position: -96px    -60px; } /* N */
  &.char-79  { width: 7px; background-position: -112px   -60px; } /* O */

  &.char-80  { width: 7px; background-position: -0px     -72px; } /* P */
  &.char-81  { width: 7px; background-position: -16px    -72px; } /* Q */
  &.char-82  { width: 8px; background-position: -32px    -72px; } /* R */
  &.char-83  { width: 6px; background-position: -48px    -72px; } /* S */
  &.char-84  { width: 6px; background-position: -64px    -72px; } /* T */
  &.char-85  { width: 7px; background-position: -80px    -72px; } /* U */
  &.char-86  { width: 7px; background-position: -96px    -72px; } /* V */
  &.char-87  { width: 9px; background-position: -112px   -72px; } /* W */

  &.char-88  { width: 6px; background-position: -0px     -84px; } /* X */
  &.char-89  { width: 6px; background-position: -16px    -84px; } /* Y */
  &.char-90  { width: 7px; background-position: -32px    -84px; } /* Z */

  &.char-97  { width: 6px; background-position: -16px    -96px; } /* a */
  &.char-98  { width: 5px; background-position: -32px    -96px; } /* b */
  &.char-99  { width: 6px; background-position: -48px    -96px; } /* c */
  &.char-100 { width: 6px; background-position: -64px    -96px; } /* d */
  &.char-101 { width: 5px; background-position: -80px    -96px; } /* e */
  &.char-102 { width: 5px; background-position: -96px    -96px; } /* f */
  &.char-103 { width: 6px; background-position: -112px   -96px; } /* g */

  &.char-104 { width: 5px; background-position: -0px    -108px; } /* h */
  &.char-105 { width: 3px; background-position: -16px   -108px; } /* i */
  &.char-106 { width: 5px; background-position: -32px   -108px; } /* j */
  &.char-107 { width: 6px; background-position: -48px   -108px; } /* k */
  &.char-108 { width: 3px; background-position: -64px   -108px; } /* l */
  &.char-109 { width: 7px; background-position: -80px   -108px; } /* m */
  &.char-110 { width: 6px; background-position: -96px   -108px; } /* n */
  &.char-111 { width: 6px; background-position: -112px  -108px; } /* o */

  &.char-112 { width: 6px; background-position: -0px    -120px; } /* p */
  &.char-113 { width: 6px; background-position: -16px   -120px; } /* q */
  &.char-114 { width: 5px; background-position: -32px   -120px; } /* r */
  &.char-115 { width: 6px; background-position: -48px   -120px; } /* s */
  &.char-116 { width: 5px; background-position: -64px   -120px; } /* t */
  &.char-117 { width: 6px; background-position: -80px   -120px; } /* u */
  &.char-118 { width: 7px; background-position: -96px   -120px; } /* v */
  &.char-119 { width: 8px; background-position: -112px  -120px; } /* w */

  &.char-120  { width: 6px; background-position: -0px   -132px; } /* x */
  &.char-121  { width: 5px; background-position: -16px  -132px; } /* y */
  &.char-122  { width: 6px; background-position: -32px  -132px; } /* z */

  &.char-224  { width: 6px; background-position: -48px  -132px; } /* à */
  &.char-232  { width: 5px; background-position: -64px  -132px; } /* è */
  &.char-233  { width: 5px; background-position: -80px  -132px; } /* é */
  &.char-236  { width: 3px; background-position: -96px  -132px; } /* ì */
  &.char-242  { width: 6px; background-position: -112px -132px; } /* ò */

  &.char-249  { width: 6px; background-position: -0px   -156px; } /* ù */
  &.char-192  { width: 8px; background-position: -16px  -156px; } /* À */
  &.char-200  { width: 5px; background-position: -32px  -156px; } /* È */
  &.char-201  { width: 5px; background-position: -48px  -156px; } /* É */
  &.char-204  { width: 3px; background-position: -64px  -156px; } /* Ì */
  &.char-210  { width: 7px; background-position: -80px  -156px; } /* Ò */
  &.char-58   { width: 7px; background-position: -96px  -156px; } /* : */
  &.char-59   { width: 7px; background-position: -112px -156px; } /* ; */

  &.char-60   { width: 8px; background-position: -0px   -168px; } /* < */
  &.char-62   { width: 8px; background-position: -16px  -168px; } /* > */
  &.char-8230 { width: 9px; background-position: -32px  -168px; } /* … */
  &.char-35   { width: 9px; background-position: -48px  -168px; } /* # */
  &.char-43   { width: 9px; background-position: -64px  -168px; } /* + */
  &.char-215  { width: 9px; background-position: -80px  -168px; } /* × */
  &.char-37   { width: 9px; background-position: -96px  -168px; } /* % */

  &.char-42   { width: 9px; background-position: -32px  -180px; } /* * */
  &.char-39   { width: 4px; background-position: -48px  -180px; } /* ' */
  &.char-38   { width: 8px; background-position: -64px  -180px; } /* & */
  &.char-217  { width: 7px; background-position: -80px  -180px; } /* Ù */  
}
