.soe-box {
  .screen {
    background: url(../images/_soe/background0.png) no-repeat;

    .text-box {
      padding-left: 20px;
      padding-top: 20px;
    }
  }
}

.soe-main-font {
  min-height: 12px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 16px;
  background-image: url(../images/_soe/soe_gfx_font1_it.png);

  /* */
  &.char-33   { background-position:  -16px -24px;  } /* ! */
  &.char-34   { background-position:  -32px -24px;  } /* " */
  &.char-35   { background-position:  -48px -24px;  } /* # */
  &.char-36   { background-position:  -64px -24px;  } /* $ */
  &.char-37   { background-position:  -80px -24px;  } /* % */
  &.char-38   { background-position:  -96px -24px;  } /* & */
  &.char-39   { background-position: -112px -24px;  } /* ' */

  &.char-40   { background-position:   -0px -36px;  } /* ( */
  &.char-41   { background-position:  -16px -36px;  } /* ) */
  &.char-42   { background-position:  -32px -36px;  } /* * */
  &.char-43   { background-position:  -48px -36px;  } /* + */
  &.char-44   { background-position:  -64px -36px;  } /* , */
  &.char-45   { background-position:  -80px -36px;  } /* - */
  &.char-46   { background-position:  -96px -36px;  } /* . */
  &.char-47   { background-position: -112px -36px;  } /* / */

  &.char-48   { background-position:   -0px -48px;  } /* 0 */
  &.char-49   { background-position:  -16px -48px;  } /* 1 */
  &.char-50   { background-position:  -32px -48px;  } /* 2 */
  &.char-51   { background-position:  -48px -48px;  } /* 3 */
  &.char-52   { background-position:  -64px -48px;  } /* 4 */
  &.char-53   { background-position:  -80px -48px;  } /* 5 */
  &.char-54   { background-position:  -96px -48px;  } /* 6 */
  &.char-55   { background-position: -112px -48px;  } /* 7 */

  &.char-56   { background-position:   -0px -60px;  } /* 8 */
  &.char-57   { background-position:  -16px -60px;  } /* 9 */
  &.char-58   { background-position:  -32px -60px;  } /* : */
  &.char-59   { background-position:  -48px -60px;  } /* ; */
  &.char-60   { background-position:  -64px -60px;  } /* < */
  &.char-61   { background-position:  -80px -60px;  } /* = */
  &.char-62   { background-position:  -96px -60px;  } /* > */
  &.char-63   { background-position: -112px -60px;  } /* ? */

  &.char-64   { background-position:   -0px -72px;  } /* @ */
  &.char-65   { background-position:  -16px -72px;  } /* A */
  &.char-66   { background-position:  -32px -72px;  } /* B */
  &.char-67   { background-position:  -48px -72px;  } /* C */
  &.char-68   { background-position:  -64px -72px;  } /* D */
  &.char-69   { background-position:  -80px -72px;  } /* E */
  &.char-70   { background-position:  -96px -72px;  } /* F */
  &.char-71   { background-position: -112px -72px;  } /* G */

  &.char-72   { background-position:   -0px -84px;  } /* H */
  &.char-73   { background-position:  -16px -84px;  } /* I */
  &.char-74   { background-position:  -32px -84px;  } /* J */
  &.char-75   { background-position:  -48px -84px;  } /* K */
  &.char-76   { background-position:  -64px -84px;  } /* L */
  &.char-77   { background-position:  -80px -84px;  } /* M */
  &.char-78   { background-position:  -96px -84px;  } /* N */
  &.char-79   { background-position: -112px -84px;  } /* O */

  &.char-80   { background-position:   -0px -96px;  } /* P */
  &.char-81   { background-position:  -16px -96px;  } /* Q */
  &.char-82   { background-position:  -32px -96px;  } /* R */
  &.char-83   { background-position:  -48px -96px;  } /* S */
  &.char-84   { background-position:  -64px -96px;  } /* T */
  &.char-85   { background-position:  -80px -96px;  } /* U */
  &.char-86   { background-position:  -96px -96px;  } /* V */
  &.char-87   { background-position: -112px -96px;  } /* W */

  &.char-88   { background-position:   -0px -108px; } /* X */
  &.char-89   { background-position:  -16px -108px; } /* Y */
  &.char-90   { background-position:  -32px -108px; } /* Z */
  &.char-91   { background-position:  -48px -108px; } /* [ */
  &.char-92   { background-position:  -64px -108px; } /* \ */
  &.char-93   { background-position:  -80px -108px; } /* ] */
  /* */
  &.char-8230 { background-position: -112px -108px; } /* … */

  &.char-96   { background-position:   -0px -120px; } /* ` */
  &.char-97   { background-position:  -16px -120px; } /* a */
  &.char-98   { background-position:  -32px -120px; } /* b */
  &.char-99   { background-position:  -48px -120px; } /* c */
  &.char-100  { background-position:  -64px -120px; } /* d */
  &.char-101  { background-position:  -80px -120px; } /* e */
  &.char-102  { background-position:  -96px -120px; } /* f */
  &.char-103  { background-position: -112px -120px; } /* g */

  &.char-104  { background-position:   -0px -132px; } /* h */
  &.char-105  { background-position:  -16px -132px; } /* i */
  &.char-106  { background-position:  -32px -132px; } /* j */
  &.char-107  { background-position:  -48px -132px; } /* k */
  &.char-108  { background-position:  -64px -132px; } /* l */
  &.char-109  { background-position:  -80px -132px; } /* m */
  &.char-110  { background-position:  -96px -132px; } /* n */
  &.char-111  { background-position: -112px -132px; } /* o */

  &.char-112  { background-position:   -0px -144px; } /* p */
  &.char-113  { background-position:  -16px -144px; } /* q */
  &.char-114  { background-position:  -32px -144px; } /* r */
  &.char-115  { background-position:  -48px -144px; } /* s */
  &.char-116  { background-position:  -64px -144px; } /* t */
  &.char-117  { background-position:  -80px -144px; } /* u */
  &.char-118  { background-position:  -96px -144px; } /* v */
  &.char-119  { background-position: -112px -144px; } /* w */

  &.char-120  { background-position:   -0px -156px; } /* x */
  &.char-121  { background-position:  -16px -156px; } /* y */
  &.char-122  { background-position:  -32px -156px; } /* z */
  /* */
  &.char-124  { background-position:  -64px -156px; } /* | */
  /* */
  /* */
  /* */

  /* */
  /* */
  /* */
  /* */
  &.char-32   { background-position:  -64px -168px; } /*   */
  /* */
  /* */
  /* */

  &.it {
    background-image: url(../images/_soe/soe_gfx_font1_it.png);

    &.char-224  { background-position:   -0px  -0px;  } /* à */
    &.char-232  { background-position:  -16px  -0px;  } /* è */
    &.char-233  { background-position:  -32px  -0px;  } /* é */
    &.char-236  { background-position:  -48px  -0px;  } /* ì */
    &.char-242  { background-position:  -64px  -0px;  } /* ò */
    &.char-249  { background-position:  -80px  -0px;  } /* ù */
    /* */
    /* */

    &.char-192  { background-position:   -0px -12px;  } /* À */
    &.char-200  { background-position:  -16px -12px;  } /* È */
    &.char-201  { background-position:  -32px -12px;  } /* É */
    &.char-204  { background-position:  -48px -12px;  } /* Ì */
    &.char-210  { background-position:  -64px -12px;  } /* Ò */
    &.char-217  { background-position:  -80px -12px;  } /* Ù */
    /* */
    /* */
  }

  &.pt {
    background-image: url(../images/_soe/soe_gfx_font1_pt.png);

    &.char-224  { background-position:   -0px  -0px;  } /* à */
    &.char-234  { background-position:  -16px  -0px;  } /* ê */
    &.char-233  { background-position:  -32px  -0px;  } /* é */
    &.char-237  { background-position:  -48px  -0px;  } /* í */
    &.char-243  { background-position:  -64px  -0px;  } /* ó */
    &.char-250  { background-position:  -80px  -0px;  } /* ú */
    &.char-193  { background-position:  -96px  -0px;  } /* Á */
    /* */

    &.char-225  { background-position:   -0px -12px;  } /* á */
    &.char-226  { background-position:  -16px -12px;  } /* â */
    &.char-201  { background-position:  -32px -12px;  } /* É */
    &.char-231  { background-position:  -48px -12px;  } /* ç */
    &.char-244  { background-position:  -64px -12px;  } /* ô */
    &.char-227  { background-position:  -80px -12px;  } /* ã */
    &.char-211  { background-position:  -96px -12px;  } /* Ó */
    &.char-245  { background-position: -112px -12px;  } /* õ */
  }
}
