.som-box {
  .screen {
    height: 80px !important;
    background: url(../images/_som/som_dialog_box.png) no-repeat;
    background-color: black;

    .text-box {
      padding-left: 16px;
      padding-top: 17px;

      .text-line {
        line-height: 16px !important;
      }
    }
  }
}

.som-main-font {
  min-height: 12px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 8px;
  background-image: url(../images/_som/som_ntsc_font.png);

  &.char-32   { background-position:   -0px  -0px; } /*   */
  &.char-97   { background-position:   -8px  -0px; } /* a */
  &.char-98   { background-position:  -16px  -0px; } /* b */
  &.char-99   { background-position:  -24px  -0px; } /* c */
  &.char-100  { background-position:  -32px  -0px; } /* d */
  &.char-101  { background-position:  -40px  -0px; } /* e */
  &.char-102  { background-position:  -48px  -0px; } /* f */
  &.char-103  { background-position:  -56px  -0px; } /* g */
  &.char-104  { background-position:  -64px  -0px; } /* h */
  &.char-105  { background-position:  -72px  -0px; } /* i */
  &.char-106  { background-position:  -80px  -0px; } /* j */
  &.char-107  { background-position:  -88px  -0px; } /* k */
  &.char-108  { background-position:  -96px  -0px; } /* l */
  &.char-109  { background-position: -104px  -0px; } /* m */
  &.char-110  { background-position: -112px  -0px; } /* n */
  &.char-111  { background-position: -120px  -0px; } /* o */

  &.char-112  { background-position:   -0px -12px; } /* p */
  &.char-113  { background-position:   -8px -12px; } /* q */
  &.char-114  { background-position:  -16px -12px; } /* r */
  &.char-115  { background-position:  -24px -12px; } /* s */
  &.char-116  { background-position:  -32px -12px; } /* t */
  &.char-117  { background-position:  -40px -12px; } /* u */
  &.char-118  { background-position:  -48px -12px; } /* v */
  &.char-119  { background-position:  -56px -12px; } /* w */
  &.char-120  { background-position:  -64px -12px; } /* x */
  &.char-121  { background-position:  -72px -12px; } /* y */
  &.char-122  { background-position:  -80px -12px; } /* z */
  &.char-65   { background-position:  -88px -12px; } /* A */
  &.char-66   { background-position:  -96px -12px; } /* B */
  &.char-67   { background-position: -104px -12px; } /* C */
  &.char-68   { background-position: -112px -12px; } /* D */
  &.char-69   { background-position: -120px -12px; } /* E */

  &.char-70   { background-position:   -0px -24px; } /* F */
  &.char-71   { background-position:   -8px -24px; } /* G */
  &.char-72   { background-position:  -16px -24px; } /* H */
  &.char-73   { background-position:  -24px -24px; } /* I */
  &.char-74   { background-position:  -32px -24px; } /* J */
  &.char-75   { background-position:  -40px -24px; } /* K */
  &.char-76   { background-position:  -48px -24px; } /* L */
  &.char-77   { background-position:  -56px -24px; } /* M */
  &.char-78   { background-position:  -64px -24px; } /* N */
  &.char-79   { background-position:  -72px -24px; } /* O */
  &.char-80   { background-position:  -80px -24px; } /* P */
  &.char-81   { background-position:  -88px -24px; } /* Q */
  &.char-82   { background-position:  -96px -24px; } /* R */
  &.char-83   { background-position: -104px -24px; } /* S */
  &.char-84   { background-position: -112px -24px; } /* T */
  &.char-85   { background-position: -120px -24px; } /* U */

  &.char-86   { background-position:   -0px -36px; } /* V */
  &.char-87   { background-position:   -8px -36px; } /* W */
  &.char-88   { background-position:  -16px -36px; } /* X */
  &.char-89   { background-position:  -24px -36px; } /* Y */
  &.char-90   { background-position:  -32px -36px; } /* Z */
  &.char-48   { background-position:  -40px -36px; } /* 0 */
  &.char-49   { background-position:  -48px -36px; } /* 1 */
  &.char-50   { background-position:  -56px -36px; } /* 2 */
  &.char-51   { background-position:  -64px -36px; } /* 3 */
  &.char-52   { background-position:  -72px -36px; } /* 4 */
  &.char-53   { background-position:  -80px -36px; } /* 5 */
  &.char-54   { background-position:  -88px -36px; } /* 6 */
  &.char-55   { background-position:  -96px -36px; } /* 7 */
  &.char-56   { background-position: -104px -36px; } /* 8 */
  &.char-57   { background-position: -112px -36px; } /* 9 */
  &.char-46   { background-position: -120px -36px; } /* . */

  &.char-44   { background-position:   -0px -48px; } /* , */
  &.char-47   { background-position:   -8px -48px; } /* / */
  &.char-39   { background-position:  -16px -48px; } /* ' */
  &.char-8220 { background-position:  -24px -48px; } /* “ */
  &.char-8221 { background-position:  -32px -48px; } /* ” */
  &.char-58   { background-position:  -40px -48px; } /* : */
  &.char-45   { background-position:  -48px -48px; } /* - */
  &.char-37   { background-position:  -56px -48px; } /* % */
  &.char-33   { background-position:  -64px -48px; } /* ! */
  &.char-38   { background-position:  -72px -48px; } /* & */
  &.char-63   { background-position:  -80px -48px; } /* ? */
  &.char-40   { background-position:  -88px -48px; } /* ( */
  &.char-41   { background-position:  -96px -48px; } /* ) */
  &.char-10005{ background-position: -104px -48px; } /* ✕ */
  &.char-9660 { background-position: -112px -48px; } /* ▼ */
  &.char-8592 { background-position: -120px -48px; } /* ← */

  &.char-8594 { background-position:   -0px -60px; } /* → */
  &.char-8593 { background-position:   -8px -60px; } /* ↑ */
  &.char-8595 { background-position:  -16px -60px; } /* ↓ */

  &.italian {
    background-image: url(../images/_som/som_ntsc_font_ita.png);

    &.char-224  { background-position:  -24px -60px; } /* à */
    &.char-232  { background-position:  -32px -60px; } /* è */
    &.char-233  { background-position:  -40px -60px; } /* é */
    &.char-236  { background-position:  -48px -60px; } /* ì */
    &.char-242  { background-position:  -56px -60px; } /* ò */
    &.char-249  { background-position:  -64px -60px; } /* ù */
    &.char-200  { background-position:  -72px -60px; } /* È */
  }
}
