.starocean-box {
  .screen {
    height: 80px !important;
    background: url(../images/_starocean/starocean_dialog_box.png) no-repeat;

    .text-box {
      padding-left: 24px;
      padding-top: 7px;
    }
  }
}

.starocean-main-font {
  min-height: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 16px;
  background-image: url(../images/_starocean/3F0000_font_ita.png);

  /*  */
  &.char-48   { width: 7px; background-position:  -16px   -0px; } /* 0 */
  &.char-49   { width: 5px; background-position:  -32px   -0px; } /* 1 */
  &.char-50   { width: 7px; background-position:  -48px   -0px; } /* 2 */
  &.char-51   { width: 7px; background-position:  -64px   -0px; } /* 3 */
  &.char-52   { width: 8px; background-position:  -80px   -0px; } /* 4 */
  &.char-53   { width: 7px; background-position:  -96px   -0px; } /* 5 */
  &.char-54   { width: 7px; background-position: -112px   -0px; } /* 6 */

  &.char-55   { width: 7px; background-position:   -0px  -16px; } /* 7 */
  &.char-56   { width: 7px; background-position:  -16px  -16px; } /* 8 */
  &.char-57   { width: 7px; background-position:  -32px  -16px; } /* 9 */
  &.char-65   { width: 7px; background-position:  -48px  -16px; } /* A */
  &.char-66   { width: 7px; background-position:  -64px  -16px; } /* B */
  &.char-67   { width: 7px; background-position:  -80px  -16px; } /* C */
  &.char-68   { width: 7px; background-position:  -96px  -16px; } /* D */
  &.char-69   { width: 6px; background-position: -112px  -16px; } /* E */

  &.char-70   { width: 6px; background-position:   -0px  -32px; } /* F */ 
  &.char-71   { width: 7px; background-position:  -16px  -32px; } /* G */
  &.char-72   { width: 7px; background-position:  -32px  -32px; } /* H */
  &.char-73   { width: 3px; background-position:  -48px  -32px; } /* I */
  &.char-74   { width: 7px; background-position:  -64px  -32px; } /* J */
  &.char-75   { width: 8px; background-position:  -80px  -32px; } /* K */
  &.char-76   { width: 6px; background-position:  -96px  -32px; } /* L */
  &.char-77   { width:11px; background-position: -112px  -32px; } /* M */

  &.char-78   { width: 8px; background-position:   -0px  -48px; } /* N */
  &.char-79   { width: 7px; background-position:  -16px  -48px; } /* O */
  &.char-80   { width: 7px; background-position:  -32px  -48px; } /* P */
  &.char-81   { width: 7px; background-position:  -48px  -48px; } /* Q */
  &.char-82   { width: 7px; background-position:  -64px  -48px; } /* R */
  &.char-83   { width: 6px; background-position:  -80px  -48px; } /* S */
  &.char-84   { width: 7px; background-position:  -96px  -48px; } /* T */
  &.char-85   { width: 7px; background-position: -112px  -48px; } /* U */

  &.char-86   { width: 7px; background-position:   -0px  -64px; } /* V */
  &.char-87   { width:11px; background-position:  -15px  -64px; } /* W */
  &.char-88   { width: 7px; background-position:  -32px  -64px; } /* X */
  &.char-89   { width: 7px; background-position:  -48px  -64px; } /* Y */
  &.char-90   { width: 7px; background-position:  -64px  -64px; } /* Z */
  &.char-192  { width: 7px; background-position:  -80px  -64px; } /* À */
  &.char-200  { width: 6px; background-position:  -96px  -64px; } /* È */
  &.char-201  { width: 6px; background-position: -112px  -64px; } /* É */

  &.char-204  { width: 4px; background-position:   -0px  -80px; } /* Ì */
  &.char-210  { width: 7px; background-position:  -16px  -80px; } /* Ò */
  &.char-217  { width: 7px; background-position:  -32px  -80px; } /* Ù */
  /*  */
  &.char-97   { width: 7px; background-position:  -64px  -80px; } /* a */
  &.char-98   { width: 7px; background-position:  -80px  -80px; } /* b */
  &.char-99   { width: 6px; background-position:  -96px  -80px; } /* c */
  &.char-100  { width: 7px; background-position: -112px  -80px; } /* d */

  &.char-101  { width: 7px; background-position:   -0px  -96px; } /* e */
  &.char-102  { width: 6px; background-position:  -16px  -96px; } /* f */
  &.char-103  { width: 7px; background-position:  -32px  -96px; } /* g */
  &.char-104  { width: 7px; background-position:  -48px  -96px; } /* h */
  &.char-105  { width: 3px; background-position:  -64px  -96px; } /* i */
  &.char-106  { width: 6px; background-position:  -80px  -96px; } /* j */
  &.char-107  { width: 7px; background-position:  -96px  -96px; } /* k */
  &.char-108  { width: 3px; background-position: -112px  -96px; } /* l */

  &.char-109  { width:11px; background-position:   -0px -112px; } /* m */
  &.char-110  { width: 7px; background-position:  -16px -112px; } /* n */
  &.char-111  { width: 7px; background-position:  -32px -112px; } /* o */
  &.char-112  { width: 7px; background-position:  -48px -112px; } /* p */
  &.char-113  { width: 7px; background-position:  -64px -112px; } /* q */
  &.char-114  { width: 6px; background-position:  -80px -112px; } /* r */
  &.char-115  { width: 6px; background-position:  -96px -112px; } /* s */
  &.char-116  { width: 5px; background-position: -112px -112px; } /* t */

  &.char-117  { width: 7px; background-position:   -0px -128px; } /* u */
  &.char-118  { width: 7px; background-position:  -16px -128px; } /* v */
  &.char-119  { width:12px; background-position:  -32px -128px; } /* w */
  &.char-120  { width: 7px; background-position:  -48px -128px; } /* x */
  &.char-121  { width: 7px; background-position:  -64px -128px; } /* y */
  &.char-122  { width: 7px; background-position:  -80px -128px; } /* z */
  &.char-224  { width: 7px; background-position:  -96px -128px; } /* à */
  &.char-232  { width: 7px; background-position: -112px -128px; } /* è */

  &.char-233  { width: 7px; background-position:   -0px -144px; } /* é */
  &.char-236  { width: 4px; background-position:  -16px -144px; } /* ì */
  &.char-242  { width: 7px; background-position:  -32px -144px; } /* ò */
  &.char-249  { width: 7px; background-position:  -48px -144px; } /* ù */
  /*  */
  &.char-32   { width: calc(4px + 1px); background-position:  -80px -144px; } /*   */
  &.char-39   { width: 4px; background-position:  -96px -144px; } /* ' */
  &.char-33   { width: 4px; background-position: -112px -144px; } /* ! */

  &.char-191  { width: 7px; background-position:   -0px -160px; } /* ¿ */
  &.char-63   { width: 7px; background-position:  -16px -160px; } /* ? */
  &.char-44   { width: 3px; background-position:  -32px -160px; } /* , */
  &.char-46   { width: 3px; background-position:  -48px -160px; } /* . */
  &.char-58   { width: 3px; background-position:  -64px -160px; } /* : */
  &.char-59   { width: 3px; background-position:  -80px -160px; } /* ; */
  &.char-8220 { width: 6px; background-position:  -96px -160px; } /* “ */
  &.char-8221 { width: 6px; background-position: -112px -160px; } /* ” */

  &.char-47   { width: 7px; background-position:   -0px -176px; } /* / */
  &.char-42   { width: 8px; background-position:  -16px -176px; } /* * */
  &.char-43   { width: 7px; background-position:  -32px -176px; } /* + */
  &.char-45   { width: 7px; background-position:  -48px -176px; } /* - */
  &.char-61   { width: 7px; background-position:  -64px -176px; } /* = */
  &.char-35   { width:10px; background-position:  -80px -176px; } /* # */
  &.char-37   { width:11px; background-position:  -96px -176px; } /* % */
  &.char-38   { width: 9px; background-position: -112px -176px; } /* & */

  &.char-40   { width: 4px; background-position:   -0px -192px; } /* ( */
  &.char-41   { width: 4px; background-position:  -16px -192px; } /* ) */
  &.char-60   { width: 7px; background-position:  -32px -192px; } /* < */
  &.char-62   { width: 7px; background-position:  -48px -192px; } /* > */
  &.char-9829 { width:12px; background-position:  -64px -192px; } /* ♥ */
  &.char-9834 { width:10px; background-position:  -80px -192px; } /* ♪ */
  &.char-9733 { width:11px; background-position:  -96px -192px; } /* ★ */
  &.char-9734 { width:11px; background-position: -112px -192px; } /* ☆ */

  &.char-178  { width: 5px; background-position:   -0px -208px; } /* ² */
  &.char-9765 { width: 0px; background-position:  -16px -208px; } /* ☥ */
}
