.valkyrie-box {
  .screen {
    background: url(../images/_valkyrie/image.png) no-repeat;
    // background: black;

    .text-box {
      background-color: transparent;
      outline: 1px solid white;
      position: absolute;
      top: 48px;
      left: 120px;
    }
  }
}

.valkyrie-main-font {
  min-height: 14px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 16px;
  background-image: url(../images/_valkyrie/font_vp_eng.png);

  &.char-32   { width: 4px;  background-position:     -0px  -0px;  } /*   */
  &.char-33   { width: 3px;  background-position:    -16px  -0px;  } /* ! */
  &.char-34   { width: 6px;  background-position:    -32px  -0px;  } /* " */
  &.char-35   { width: 6px;  background-position:    -48px  -0px;  } /* # */
  &.char-36   { width: 6px;  background-position:    -64px  -0px;  } /* $ */
  &.char-37   { width: 6px;  background-position:    -80px  -0px;  } /* % */
  &.char-38   { width: 7px;  background-position:    -96px  -0px;  } /* & */
  &.char-39   { width: 2px;  background-position:   -112px  -0px;  } /* ' */
  &.char-40   { width: 4px;  background-position:   -128px  -0px;  } /* ( */
  &.char-41   { width: 4px;  background-position:   -144px  -0px;  } /* ) */
  &.char-42   { width: 6px;  background-position:   -160px  -0px;  } /* * */
  &.char-43   { width: 6px;  background-position:   -176px  -0px;  } /* + */
  &.char-44   { width: 2px;  background-position:   -192px  -0px;  } /* , */
  &.char-45   { width: 6px;  background-position:   -208px  -0px;  } /* - */
  &.char-46   { width: 2px;  background-position:   -224px  -0px;  } /* . */
  &.char-47   { width: 6px;  background-position:   -240px  -0px;  } /* / */

  &.char-48   { width: 6px;  background-position:    -0px  -16px;  } /* 0 */
  &.char-49   { width: 6px;  background-position:   -16px  -16px;  } /* 1 */
  &.char-50   { width: 6px;  background-position:   -32px  -16px;  } /* 2 */
  &.char-51   { width: 6px;  background-position:   -48px  -16px;  } /* 3 */
  &.char-52   { width: 6px;  background-position:   -64px  -16px;  } /* 4 */
  &.char-53   { width: 6px;  background-position:   -80px  -16px;  } /* 5 */
  &.char-54   { width: 6px;  background-position:   -96px  -16px;  } /* 6 */
  &.char-55   { width: 6px;  background-position:  -112px  -16px;  } /* 7 */
  &.char-56   { width: 6px;  background-position:  -128px  -16px;  } /* 8 */
  &.char-57   { width: 6px;  background-position:  -144px  -16px;  } /* 9 */
  &.char-58   { width: 2px;  background-position:  -160px  -16px;  } /* : */
  &.char-59   { width: 2px;  background-position:  -176px  -16px;  } /* ; */
  &.char-60   { width: 6px;  background-position:  -192px  -16px;  } /* < */
  &.char-61   { width: 6px;  background-position:  -208px  -16px;  } /* = */
  &.char-62   { width: 6px;  background-position:  -224px  -16px;  } /* > */
  &.char-63   { width: 7px;  background-position:  -240px  -16px;  } /* ? */

  &.char-64   { width: 8px;  background-position:    -0px  -32px;  } /* @ */
  &.char-65   { width: 8px;  background-position:   -16px  -32px;  } /* A */
  &.char-66   { width: 8px;  background-position:   -32px  -32px;  } /* B */
  &.char-67   { width: 8px;  background-position:   -48px  -32px;  } /* C */
  &.char-68   { width: 8px;  background-position:   -64px  -32px;  } /* D */
  &.char-69   { width: 7px;  background-position:   -80px  -32px;  } /* E */
  &.char-70   { width: 7px;  background-position:   -96px  -32px;  } /* F */
  &.char-71   { width: 8px;  background-position:  -112px  -32px;  } /* G */
  &.char-72   { width: 8px;  background-position:  -128px  -32px;  } /* H */
  &.char-73   { width: 3px;  background-position:  -144px  -32px;  } /* I */
  &.char-74   { width: 7px;  background-position:  -160px  -32px;  } /* J */
  &.char-75   { width: 7px;  background-position:  -176px  -32px;  } /* K */
  &.char-76   { width: 6px;  background-position:  -192px  -32px;  } /* L */
  &.char-77   { width: 9px;  background-position:  -208px  -32px;  } /* M */
  &.char-78   { width: 8px;  background-position:  -224px  -32px;  } /* N */
  &.char-79   { width: 8px;  background-position:  -240px  -32px;  } /* O */
 
  &.char-80   { width: 7px;  background-position:    -0px  -48px;  } /* P */
  &.char-81   { width: 8px;  background-position:   -16px  -48px;  } /* Q */
  &.char-82   { width: 8px;  background-position:   -32px  -48px;  } /* R */
  &.char-83   { width: 7px;  background-position:   -48px  -48px;  } /* S */
  &.char-84   { width: 7px;  background-position:   -64px  -48px;  } /* T */
  &.char-85   { width: 8px;  background-position:   -80px  -48px;  } /* U */
  &.char-86   { width: 8px;  background-position:   -96px  -48px;  } /* V */
  &.char-87   { width: 9px;  background-position:  -112px  -48px;  } /* W */
  &.char-88   { width: 7px;  background-position:  -128px  -48px;  } /* X */
  &.char-89   { width: 7px;  background-position:  -144px  -48px;  } /* Y */
  &.char-90   { width: 7px;  background-position:  -160px  -48px;  } /* Z */
  &.char-91   { width: 4px;  background-position:  -176px  -48px;  } /* [ */
  &.char-93   { width: 4px;  background-position:  -192px  -48px;  } /* ] */
  &.char-8743 { width: 5px;  background-position:  -208px  -48px;  } /* ^ */
  &.char-95   { width: 4px;  background-position:  -224px  -48px;  } /* _ */
  &.char-96   { width: 5px;  background-position:  -240px  -48px;  } /* ` */

  &.char-97   { width: 6px;  background-position:    -0px  -64px;  } /* a */
  &.char-98   { width: 6px;  background-position:   -16px  -64px;  } /* b */
  &.char-99   { width: 6px;  background-position:   -32px  -64px;  } /* c */
  &.char-100  { width: 6px;  background-position:   -48px  -64px;  } /* d */
  &.char-101  { width: 6px;  background-position:   -64px  -64px;  } /* e */
  &.char-102  { width: 4px;  background-position:   -80px  -64px;  } /* f */
  &.char-103  { width: 6px;  background-position:   -96px  -64px;  } /* g */
  &.char-104  { width: 6px;  background-position:  -112px  -64px;  } /* h */
  &.char-105  { width: 3px;  background-position:  -128px  -64px;  } /* i */
  &.char-106  { width: 3px;  background-position:  -144px  -64px;  } /* j */
  &.char-107  { width: 6px;  background-position:  -160px  -64px;  } /* k */
  &.char-108  { width: 3px;  background-position:  -176px  -64px;  } /* l */
  &.char-109  { width: 9px;  background-position:  -192px  -64px;  } /* m */
  &.char-110  { width: 6px;  background-position:  -208px  -64px;  } /* n */
  &.char-111  { width: 6px;  background-position:  -224px  -64px;  } /* o */
  &.char-112  { width: 6px;  background-position:  -240px  -64px;  } /* p */

  &.char-113  { width: 6px;  background-position:    -0px  -80px;  } /* q */
  &.char-114  { width: 4px;  background-position:   -16px  -80px;  } /* r */
  &.char-115  { width: 6px;  background-position:   -32px  -80px;  } /* s */
  &.char-116  { width: 4px;  background-position:   -48px  -80px;  } /* t */
  &.char-117  { width: 6px;  background-position:   -64px  -80px;  } /* u */
  &.char-118  { width: 6px;  background-position:   -80px  -80px;  } /* v */
  &.char-119  { width: 8px;  background-position:   -96px  -80px;  } /* w */
  &.char-120  { width: 6px;  background-position:  -112px  -80px;  } /* x */
  &.char-121  { width: 6px;  background-position:  -128px  -80px;  } /* y */
  &.char-122  { width: 5px;  background-position:  -144px  -80px;  } /* z */
  &.char-123  { width: 3px;  background-position:  -160px  -80px;  } /* { */
  &.char-124  { width: 3px;  background-position:  -176px  -80px;  } /* | */
  &.char-125  { width: 3px;  background-position:  -192px  -80px;  } /* } */
  &.char-126  { width: 5px;  background-position:  -208px  -80px;  } /* ~ */
  &.char-165  { width: 6px;  background-position:  -224px  -80px;  } /* ¥ */
  &.char-176  { width: 12px; background-position:  -240px  -80px;  } /* ° */
}
