@use '_7thsaga' as *;
@use '_bof' as *;
@use '_brainlord' as *;
@use '_ffmq' as *;
@use '_gaia' as *;
@use '_ignition' as *;
@use '_lufia' as *;
@use '_mmlegends' as *;
@use '_neugier' as *;
@use '_sd3' as *;
@use '_smrpg' as *;
@use '_soe' as *;
@use '_spike' as *;
@use '_starocean' as *;
@use '_valkyrie' as *;

.preview-box {
  &.snes-256x224 {
    .screen {
      width: 256px;
      height: 224px;
    }
    .info-box, .warning-box {
      width: 256px;
    }
  }

  &.psx-ntsc-320x240 {
    .screen {
      width: 320px;
      height: 240px;
    }
    .info-box, .warning-box {
      width: 320px;
    }
  }

  &.psx-ntsc-320x224 {
    .screen {
      width: 320px;
      height: 224px;
    }
    .info-box, .warning-box {
      width: 320px;
    }
  }

  .screen {
    cursor: pointer;
    position: relative;
    image-rendering: pixelated;
    transition: opacity 0.3s ease-in-out;
  
    &:hover {
      opacity: 0.7;
    }

    .text-box {
      .text-line {
        line-height: 0px;

        .char {
          display: inline-block;
          image-rendering: pixelated;
        }

        .pad {
          display: inline-block;
          width: 1px;
        }
      }
    }
  }

  .info-box, .warning-box {
    font-size: 0.8rem;
    margin: 1rem 0;

    table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;

      th, td {
        border: 1px solid black;
        padding: 4px;
      }
    }

    .text-danger {
      color: #fa4444;
    }
  }

  .warning-box {
    border: 1px solid black;

    div {
      padding: 4px;
    }
  }
}
